@font-face {
  font-family: 'AdobeMyungjoStd-Medium-Alphabetic';
  src: url('AdobeMyungjoStd-Medium-Alphabetic.eot?#iefix') format('embedded-opentype'),  url('AdobeMyungjoStd-Medium-Alphabetic.otf')  format('opentype'),
	     url('AdobeMyungjoStd-Medium-Alphabetic.woff') format('woff'), url('AdobeMyungjoStd-Medium-Alphabetic.ttf')  format('truetype'), url('AdobeMyungjoStd-Medium-Alphabetic.svg#AdobeMyungjoStd-Medium-Alphabetic') format('svg');
  font-weight: normal;
  font-style: normal;
}
