<section id="products">
  <div class="grid-row">
    {% for product in collections['all'].products%}
    <div class="grid-item item-s-12 item-m-6 item-l-4 text-align-center margin-bottom-large">
      <a href="{{ product.url }}">
        <div class="product-image-holder">
          <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
          <div class="price-bubble">{{ product.price | money_without_trailing_zeros }}</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
